venv
.idea
.env*
.digitalocean

*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
/src/static/
/src/media/pictures/131454411_141727540808726_773536196597072424_n.png
